.App {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.App .borda-exterior {
  border: 3px solid #000;
  height: 800px;
  width: 400px;
  border-radius: 30px;
  background-color: #DDD;
}

.App .borda-inferior {
  overflow-y: hidden;
  border: 2px solid #000;
  margin: 10px;
  height: 97%;
  border-radius: 20px;
  background-color: #FFF;
}

.App .borda-inferior .tela {
  margin: 10px;
  border: 4px solid #DDD;
  height: 40%;
}

.App .borda-inferior .botoes {
  height: 56.3%;
}